@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,400italic,700);


#logo {
	position: absolute;
	margin-top: 35px;
}


.x{
	color: #000;
	opacity: 0.9;
	font-size: 10em;
	font-weight: bold;
	font-family: Ubuntu;
	text-shadow: -1px 8px 8px #C6C6C6;
	text-align: center;
	left: 31px;
	position: absolute;
	bottom: 4px;
}


.y {
	color: #000;
	opacity: 0.7;
	font-size: 9em;
	font-weight: bold;
	font-family: Ubuntu;
	text-shadow: -1px 8px 8px #838383;
	text-align: center;
	position: absolute;
	left: 37px;
	bottom: 15px;
}




#logoTekst{
	font-family: Ubuntu;
	font-size: 25px;
	position: absolute;
	bottom: 12px;
	left: 133px;
	text-shadow: -1px 3px 7px #fff;
	width: 209px;
}
