
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,400italic,700);

body{
	background-color: #173333;
}

.tijelo{
		width: 70%;
		border-right: 2px solid;	
		border-left: 2px solid;
		border-bottom: 2px solid;
		border-color: black;
		margin:auto;
		padding: auto;
}

.zaglavlje{
	font-family: Ubuntu;
	
}

#naslov{
	font-weight: 700;
	color: white;
	 text-align: center;
}

#meni{
	margin: auto;
	    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.98);
	
}
#meni li{
	display: inline;
	float: left;
}
#meni > ul {
	padding: 0px;
	display: flex;
	justify-content: center;
	    margin-top: 70px;
}
#meni a{
	color: white;
	padding: 0 37px 0 35px;
    border-bottom-style: solid;
    border-radius: 10%;
}


#meni a:link {
    text-decoration: none;
}

#meni a:visited {
    text-decoration: none;
}

#meni a:hover {
    text-decoration: none;
}

#meni a:active {
    text-decoration: none;
}

















/*
p, h2{
	font-family: Times New Roman;
}

#okvir {
 background-color: #99c;
	width: 750px;
	margin: auto;
	
}

#zaglavlje h1{
	font-family: Gabriela;
	background-color: #ddd;
	font-size: 42px;
	color: green;
	margin: 0px;
}

#meni{
	background-color: #c99;
	height: 30px;
	margin-top: -20px;
}
#meni li{
	background-color: #c99;
	display: inline;
	float: left;
}
#meni > ul {
	display: flex;
	justify-content: center;
	
	background-color: #c99;
}
#meni a{
	display: block;
	padding: 4px;
}


#glavni {
	
	background-color: #9c9;
	width: 70%;
	float: left;
}


#desno {
	float: right;
	background-color: #c9c;
	width:30%;
	display: inline;
	
}

#podnozje{
	clear: both;
	background-color: #cc9;
}

*{
	box-sizing: border-box;
}

*/